@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inconsolata";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Inconsolata_Expanded-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inconsolata_Regular";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Inconsolata-Regular.ttf") format("truetype");
  }
  @media screen and (max-width: 700px) {
    #test {
      font-size: 1rem;
      max-width: 17rem;
      line-height: 1.3rem;
    }
    #mobile_h1 {
      font-size: 1.6rem;
      line-height: 2rem;
    }
    #signUpMobile {
      width: 12rem;
      height: 2.625rem;
      font-size: 1.56rem;
    }
    #learnMobile {
      width: 8.5rem;
      height: 1.5rem;
      font-size: 1rem;
    }
  }
  #signUpMobile {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 2.188rem;
  }
  #learnMobile {
    color: #030609;
  }
}
